.venv/
__pycache__/
.pytest_cache/
build/
dist/
*.egg-info/
*.log
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg
*.coverage
.coverage.*
*.mypy_cache/
*.hypothesis/
*.tox/
*.vscode/
*.idea/
*.DS_Store
*.swp
*.swo
*.bak
*.orig
*.tmp
*.pid